/* orange: ffa405 */
/* white-ish: f7f7f7 */
/* blue-ish: 066db5 */
/* tan: #ffa */
/* dark-gray:#333 */
body
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse:collapse;
	background-color:#066db5;
	color:#ffa;
	
}
h2
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffa;
	font-size: 18px;
}
h2.registrationTable
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	font-size: 18px;
}
h3.registrationTable
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	font-size: 16px;
}
p.text
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	font-size: 12px;
}

/* Table */
table.registrationTable
{
	background-color:#f7f7f7;
	color:#333;
}

th
{
	background-color:#ffa405;
	color:#f7f7f7;
	font-size:1.2em;
}

td.off
{
	color:black;
	background-color:#f7f7f7
}
td.on
{
	color:black;
	background-color:#ffa;
}
td.forgotPassword
{
	font-size:10px;
}

/* Links */
a
{
	color:#f7f7f7;
}

a:visited
{
	color:#ffa;
}

a:hover
{
	color:#ffa405;
}