/* orange: f38315 */
/* white-ish: f7f7f7 */
/* blue-ish: 006699 */
/* tan: #ffa */
/* dark-gray:#333 */
body
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#006699;
	color:#ffa;
}
h2
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffa;
	font-size: 18px;
}
h2.registrationTable
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	font-size: 18px;
}
h3.registrationTable
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	font-size: 16px;
}
h3
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	font-size: 16px;
}
h4
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	font-size: 10px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
p.text
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	font-size: 12px;
}

/* Table */
table.registrationTable
{
	background-color:#f7f7f7;
	color:#333;
}
table.innerTables
{
	background-color:#f7f7f7;
	color:#333;
}

table.leaderboard
{
	font-size: 12px;
}
th
{
	background-color:#f38315;
	color:#f7f7f7;
	font-size:1.2em;
}
td.off
{
	color:black;
	background-color:#f7f7f7
}
td.on
{
	color:black;
	background-color:#ffa;
}
td.forgotPassword
{
	font-size:10px;
}
td.index
{
	border-color: #333;
	border-width: 1px 1px 0 0;
	border-style: solid;
	padding: 2px;
}
td.indexon
{
	border-color: #333;
	border-width: 1px 1px 0 0;
	border-style: solid;
	padding: 2px;
	background-color:#ffa;
}
/* Divs */
#mainDiv
{
	border-color: #333;
	border-width: 0 0 0 0;
	border-style: solid;
	padding: 0px;
	background-color:#f7f7f7;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#headerDiv
{
	background-color:#f38315;
	color:#f7f7f7;
	font-size:1.2em;
	text-align:center;
	padding: 0px;
	float: top;
}
#leftDiv
{
	width: 40%;
	border-color: #333;
	border-width: 0 0 0 0;
	border-style: solid;
	padding: 0px;
	background-color:#f7f7f7;
	color:#333;
	float:left;
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#leftDivOn
{
	width: 40%;
	border-color: #333;
	border-width: 0 0 0 0;
	border-style: solid;
	padding: 0px;
	background-color:#ffa;
	color:#333;
	float:left;
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#rightDiv
{
	width: 60%;
	border-color: #333;
	border-width: 0 0 0 0;
	border-style: solid;
	padding: 0px;
	background-color:#f7f7f7;
	color:#333;
	float:right;
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#rightDivOn
{
	width: 60%;
	border-color: #333;
	border-width: 0 0 0 0;
	border-style: solid;
	padding: 0px;
	background-color:#ffa;
	color:#333;
	float:right;
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#footer
{
	background-color:#f38315;
	color:#f7f7f7;
	text-align:center;
	padding: 0px;
	font-size:10px;
	width: 800px;
	clear: both;
}
#myAchievements
{
	margin-top: 20px;
}
#myCustomPuzzles
{
	margin-top: 20px;
}
#myScores
{
	margin-top: 20px;
}
#playGame
{
	font-size: 20px;
	color:#006699;
	
}
#playGameOn
{
	background-color:#006699;
}

/* Links */
a
{
	color:#f7f7f7;
}

a:visited
{
	color:#ffa;
}

a:hover
{
	color:#f38315;
}

a.header:hover
{
	color:#333;
}